{% extends "base.html" %}
{% block title %}Diretório de Certificações - BNVD{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1>Diretório de Profissionais Certificados</h1>
    <p>Abaixo está a lista de profissionais que concluíram com sucesso o programa BNVD Certified Professional.</p>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nome do Profissional</th>
                <th scope="col">Link da Certificação</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Herbert Barros da Rocha</td>
                <td><a href="https://app.issuebadge.com/v/GL9RDJE8K" target="_blank">Ver Certificado</a></td>
            </tr>
            <tr>
                <td>Juan Mathews Rebello Santos</td>
                <td><a href="https://app.issuebadge.com/v/5D90R7D8N" target="_blank">Ver Certificado</a></td>
            </tr>
            <tr>
                <td>Gilson Junio Sales Andrade</td>
                <td><a href="https://app.issuebadge.com/v/RM6QKX56J" target="_blank">Ver Certificado</a></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
